#Cozy {
    border: solid 5px red; 
 
    display: flex;
    flex-direction: row-reverse;
 
    img{
        margin-top: 2%;
    }
 
    .cozy_info {
        display: flex;
        flex-direction: column;
        margin: 3%;
 
        h4, p, li {
            margin: 2%;;
        }
    }
 }