.style-button(@backround-color, @text-color, @button-height, @button-width, @button-radius) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @backround-color;
    color: @text-color;
    height: @button-height;
    width:  @button-width;
    border-radius: @button-radius;

} 


.flex-center() {
	display: flex;
	justify-content: center;
}

.flex-space-evenly() {
	display: flex;
	justify-content: space-evenly;
}

.inner-margin() {
	width: @inner-margin;
	margin: 1% 0 1% 0;
}